* {
  padding: 0px;
  margin: 0px;
}
/* variables */
:root {
  --bg-color: #fbfbfb;
  --primary-color: #003366;
  --secondary-color: #8ae2fd;
  --text-color: #003366;
  --navbar-text-color: #fbfbfb;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-color);
}

/* navbar */
.navbar {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  padding: 10px 50px;
  font-weight: 600;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.navbar img {
  width: 166px;
  height: 29px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--navbar-text-color);
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

/* search bar */

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: var(--primary-color);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

/**** Home ****/

.container-fluid {
  height: 90vh;
}
#containerfluid1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/wave.svg);
  background-repeat: no-repeat;
}

#layout1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  height: 100%;
  gap: 10px;
  flex-wrap: wrap;
}

#layout1 #side1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 60%;
  padding: 5px;
}

#side1 p {
  font-size: 2rem;
  font-weight: 300;
  color: #0d0c22;
  text-align: center;
}
#side1 button {
  background-color: #003366;
}
#side1 button:hover {
  background-color: #8ae2fd;
  color: var(--text-color);
}

#layout1 #side2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 60%;
}
#side2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/** 1200px */
@media (max-width: 1200px) {
  #layout1 {
    flex-direction: column-reverse;
    align-items: center;
  }

  #layout1 #side1,
  #layout1 #side2 {
    width: 100%;
    height: auto;
    text-align: center;
  }

  #side2 img {
    width: 80%;
    height: auto;
    display: none;
  }
}

@media (max-width: 768px) {
  #layout1 #side1 p {
    font-size: 1.5rem;
  }

  #side1 button {
    padding: 10px 20px;
  }

  #layout1 #side2 img {
    width: 90%;
  }
}

/* home 2 */

#containerfluid2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-color);
}
#layout2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 95%;
  height: 100%;
  flex-wrap: wrap;
}

#layout2 #side3 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60%;
  padding: 5px;
  text-align: center;
  justify-content: space-around;
}
#side3 span {
  color: var(--secondary-color);
}
#side3 h1 {
  color: var(--navbar-text-color);
  font-weight: 800;
  font-size: 3.5rem;
}
#side3 p {
  color: var(--navbar-text-color);
  text-align: justify;
  font-size: 1.5rem;
}
#layout2 #side4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 60%;
}

#side4 img {
  width: 70%;
  height: 100%;
  object-fit: contain;
  padding-bottom: 50px;
}
#side4 p {
  color: var(--navbar-text-color);
  text-align: center;
  text-justify: auto;
  font-size: 1.5rem;
}
#side4 button {
  background-color: #8ae2fd;
  color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 10px;
}

#side4 button:hover {
  background-color: #003366;
  color: var(--navbar-text-color);
}
/** 1200px */

@media (max-width: 1200px) {
  #containerfluid2 {
    height: auto;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  #layout2 {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #layout2 #side3,
  #layout2 #side4 {
    width: 100%;
    height: auto;
    text-align: justify;
  }

  #layout2 #side3 h1 {
    text-align: center;
  }
  #layout2 #side3 p {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  #side4 img {
    width: 90%;
    height: auto;
  }
  #side4 p {
    text-align: justify;
  }
}

/* home 3 */
#containerfluid3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: var(--secondary-color);
}

#layout3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  height: 100%;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
}

#layout3 h1 {
  color: var(--text-color);
  font-weight: bold;
  font-size: 3.3rem;
}

#layout3 p {
  color: var(--text-color);
  text-align: center;
  font-size: 1.5rem;
  padding-top: 20px;
}

#layout3 #grid-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 70%;
  margin: 0 auto; /* Center the grid */
}

#grid-services img {
  width: 70%; /* Adjusted to fill the grid cell */
  object-fit: contain;
}

/** layout4 Release Note**/

#containerfluid4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-bottom: 20px;
}

#layout4 {
  display: flex;

  flex-direction: column;
  width: 99%;
  height: auto;
  flex-wrap: wrap;
  padding-bottom: 25px;
}

#layout4 h1 {
  color: var(--text-color);
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}
#layout4 h3 {
  color: var(--text-color);
  text-align: left;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 500;
}

#grid-latest {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
  margin: 0 auto; /* Center the grid */
  background-color: white;
}

#grid-latest img {
  width: 100%; /* Adjusted to fill the grid cell */
  object-fit: contain;
}

#grid-previous {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
  margin: 0 auto; /* Center the grid */
  background-color: white;
}

#grid-previous img {
  width: 100%; /* Adjusted to fill the grid cell */
  object-fit: contain;
}

@media (max-width: 1200px) {
  #grid-latest {
    grid-template-columns: repeat(2, 1fr);
  }
  #layout4 h3 {
    text-align: center;
  }

  #grid-previous {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  #grid-latest {
    grid-template-columns: repeat(1, 1fr);
    width: fit-content;
  }

  #grid-previous {
    grid-template-columns: repeat(1, 1fr);
    width: fit-content;
  }
}

/**documentation */

#containerfluid5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-bottom: 20px;
}
#layout5 {
  display: flex;

  flex-direction: column;
  width: 95%;
  height: 100%;
  flex-wrap: wrap;
  padding-bottom: 25px;
}

#layout5 h1 {
  color: var(--text-color);
  text-align: center;
  font-weight: bold;
}

#layout5 h3 {
  color: var(--text-color);
  text-align: left;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 500;
  padding-left: 20px;
}

.carousel-inner {
  padding: 1em;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: var(--primary-color);
  color: var(--navbar-text-color);
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
.card .img-wrapper {
  max-width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card img {
  max-height: 100%;
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
}

.carousel-item .card .card-text {
  font-size: 1.2em;
  color: var(--text-color);
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.carousel-item .card .img-wrapper {
  object-fit: contain;
}

/**About Us**/

#containerfluid6 {
  width: 100%;
  background-color: yellowgreen;
  height: fit-content;
}

#layout6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  height: 100%;
  flex-wrap: wrap;
  padding-bottom: 25px;
  background-color:yellowgreen;
}